<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SolarTech</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
   <header id="header" class="header flex wrap rg-4 justify-between bg-primary">
      <img class="img-logo" src="/assets/img/image-removebg-preview.png" alt="Logo SolarTech">
      <nav class="flex cg-4">
        <a href="#">Início</a>
        <a href="#">Troca</a>
        <a href="#">Comprar</a>
        <a href="#">Suporte</a>
      </nav>
      <div class="flex-direction-column gap">
        <p>Nos contacte</p>
        <h2>+55 88 9929-5088</h2>
      </div>
    </header>
  
   <section class="imagem-com-texto">
      <!--Seção do baner inicial -->
       <img class="img-banner" src="/assets/img/banner_inicial.png" alt="Banner Inicial">
       <div class="texto-sobre-imagem">
        <h1>Painéis solarTech</h1>
        <pre class="pre-img">
                                        A SolarTech é uma premiada consultoria de tecnologia que transforma
                                        negócios gerando ideias, desenvolvendo produtos e acelerando o
                                        crescimento.
            </pre>
        <button class="btn btn-primary">Ligue para nós hoje mesmo</button>
        <button class="btn btn-secundary">Solicitar uma ligação de retorno</button>
       </div>
      </section>

  <section id="id-objetivos" class="flex justify-around margin-top">
    <!-- Seção sobre os objetivos da empresa -->
    <div class="flex flex-direction-column rg-4">
      <h1>Os Instaladores Mais Amigáveis do Nordeste</h1>
      <p class="p-produtos">
        Na SolarTech, nosso objetivo é ajudar nossos clientes a construir um futuro <br>
        sustentável, sempre garantindo a qualidade dos produtos que utilizamos.
      </p>

      <p><span class="bg-green">01/ </span>Nunca vendemos equipamentos desnecessários</p>
      <p><span class="bg-green">02/ </span>Sempre oferecemos as melhores orientações possíveis</p>
      <p><span class="bg-green">03/ </span>Sem pressão de vendas ou táticas agressivas</p>
      <p><span class="bg-green">04/ </span>Trabalhamos com dedicação para atender ou superar as expectativas dos nossos
        clientes</p>
    </div>
    <img src="/assets/img/objetivos_empresa.jpg" alt="Objetivos Empresa">
  </section>

   <section id="id-contato" class="imagem-contato flex flex-direction-column align-center rg-4">
      <!-- Seção para contato com a empresa -->
        <div class="conteudo-espacamento">
          <h1>Poder que não custa a Terra</h1>
          <p>Precisa de orientação? Ligue para nós: +55 88 9929-5088Ou clique no botão abaixo para solicitar uma ligação de retorno!</p>
          <button class="btn btn-secundary">Ligue para nós hoje mesmo</button>
        </div>
    </section>

 <section id="produtos" class="grid">
    <!-- Seção dos produtos -->
    
    <article class="card">
        <img src="/assets/img/painel-fora-de-casa.jpg" alt="Painel fora de casa">
        <h3 class="h3-cards">Fora de casa</h3>
        <p class="p-produtos">
          Podemos realizar a instalação em áreas externas, como jardins ou terrenos próximos à sua residência. Essa alternativa também permite o aproveitamento máximo da energia solar, com a flexibilidade de escolha do local mais adequado.
        </p>
        <a href="#" class="ver-integracao">Ver integração →</a>
      </article>

      <article class="card">
        <img src="/assets/img/painel-no-telhado.jpg" alt="Painel no Telhado">
        <h3 class="h3-cards">Telhado</h3>
        <p class="p-produtos">
          Perfeito para quem ama espaço extra, sem bagunçar o quintal! Painéis solares no telhado? Direto do sol pra sua casa, com energia de sobra e um visual que nem parece que está lá. Coisa de outro mundo, discreto e integrado, sabe?
        </p>
        <a href="#" class="ver-integracao">Ver integração →</a>
      </article>

      <article class="card">
        <img src="/assets/img/painel-ambos.jpg" alt="Painel em ambos">
        <h3 class="h3-cards">Ambos</h3>
        <p class="p-produtos">
          Para um desempenho ainda melhor, podemos combinar ambas as opções, instalando placas solares no telhado e fora de casa. Essa abordagem é ideal para propriedades com áreas amplas ou em locais onde é necessário maximizar a produção de energia.
        </p>
        <a href="#" class="ver-integracao">Ver integração →</a>
      </article>
  </section>

  <section id="cards" class="grid">
      <!-- Seção dos colaboradores -->
  </section>

    <section>
      <!-- Seção de pesquisas -->
      <form id="cards" class="flex flex-direction-column align-center rg-2 card" action="#header"  target="_blank">     
          <h1 padding="10px">O que podemos melhorar?</h1><br><br>
          <h2 class="h2-pesquisas"><i>Nós envie sugestões</i></h2>
          <textarea rows="10" cols="15"></textarea>
          <p><i>Informe seu email</i></p> 
          <input type="email" name="email" placeholder="seu email" size="20">
          <input class="enviar-formulario" type="submit" value="Enviar">
        </form>
      </p>
    </section>

    <footer>
      <!-- Rodapé da página -->
      <img class="img-footer" src="/assets/img/logo-preto-branco.png" alt="Logo sem cor">
      <nav class=" flex cg-4 ">
        <a href="id-objetivos">Sobre</a>
        <a href="id-pesquisas">Imprensa</a>
        <a href="id-contato">Atendimento ao cliente</a>
        <a href="id-produtos">Serviços</a>
      </nav>
  </footer>
</body>
</html>