<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SolarTech</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    <header class="header flex wrap rg-4 justify-between bg-primary">
      <img src="/assets/img/image.png" alt="Logo SolarTech">
      <nav class="flex cg-4">
        <a href="#">Início</a>
        <a href="#">Troca</a>
        <a href="#">Comprar</a>
        <a href="#">Suporte</a>
      </nav>
      <div class="flex-direction-column gap">
        <p>Nos contacte</p>
        <h2>+55 88 9929-5088</h2>
      </div>
    </header>

    <section>
      <!-- Seção do baner inicial -->
    </section>

    <section>
      <!-- Seção sobre os objetivos da empresa -->
    </section>

    <section>
      <!-- Seção para contato com a empresa -->
    </section>

    <section>
      <!-- Seção dos produtos -->
    </section>

    <section>
      <!-- Seção sobre o padrão de atendimento -->
    </section>

    <section>
      <!-- Seção dos colaboradores -->
    </section>

    <section>
      <!-- Seção de pesquisas -->
    </section>

    <footer>
      <!-- Rodapé da página -->
    </footer>
</body>
</html>