<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SolarTech</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
  <header id="header" class="header flex wrap rg-4 justify-between bg-primary">
    <img class="img-logo" src="/assets/img/image-removebg-preview.png" alt="Logo SolarTech">
    <nav class="flex cg-4">
      <a href="#objetivos">Início</a>
      <a href="#produtos">Comprar</a>
      <a href="#contato">Suporte</a>
    </nav>
    <div class="flex-direction-column gap">
      <p>Nos contacte</p>
      <h2>+55 88 9929-5088</h2>
    </div>
  </header>

  <section id="banner" class="imagem-com-texto">
    <!--Seção do baner inicial -->
    <img class="img-banner" src="/assets/img/banner_inicial.png" alt="Banner Inicial">
    <div class="texto-sobre-imagem">
      <h1>Painéis SolarTech</h1>
      <pre class="pre-img">
                                        A SolarTech é uma premiada consultoria de tecnologia que transforma
                                        negócios gerando ideias, desenvolvendo produtos e acelerando o
                                        crescimento.
            </pre>
      ><a href="#contato"><button class="btn btn-primary">Fale conosco!</button></a>
    </div>
  </section>

  <section id="objetivos" class="flex justify-around margin-top">
    <!-- Seção sobre os objetivos da empresa -->
    <div class="flex flex-direction-column rg-4">
      <h1>Os Instaladores Mais Amigáveis do Nordeste</h1>
      <p class="p-produtos">
        Na SolarTech, nosso objetivo é ajudar nossos clientes a construir um futuro <br>
        sustentável, sempre garantindo a qualidade dos produtos que utilizamos.
      </p>

      <p><span class="bg-green">01/ </span>Nunca vendemos equipamentos desnecessários</p>
      <p><span class="bg-green">02/ </span>Sempre oferecemos as melhores orientações possíveis</p>
      <p><span class="bg-green">03/ </span>Sem pressão de vendas ou táticas agressivas</p>
      <p><span class="bg-green">04/ </span>Trabalhamos com dedicação para atender ou superar as expectativas dos nossos
        clientes</p>
    </div>
    <img src="/assets/img/objetivos_empresa.jpg" alt="Objetivos Empresa">
  </section>

  <section id="contato" class="imagem-contato flex flex-direction-column align-center rg-4 margin-top">
    <!-- Seção para contato com a empresa -->
    <div class="conteudo-espacamento">
      <h1>Poder que não custa a Terra</h1>
      <p>Precisa de orientação? Ligue para nós: +55 88 9929-5088 Ou clique no botão abaixo para nos enviar uma mensagem!
      </p>
      <a href="#pesquisas"><button class="btn btn-secundary">Envie-nos uma mensagem</button></a>
    </div>
  </section>

  <h1 class="flex justify-center align-center margin-top h1-produtos">Kits Solares</h1>

  <section id="produtos" class="grid margin-top">
    <!-- Seção dos produtos -->

    <article class="card">
      <img src="/assets/img/painel-fora-de-casa.jpg" alt="Painel fora de casa">
      <h3 class="h3-cards">Fora de casa</h3>
      <p class="p-produtos">
        Podemos realizar a instalação em áreas externas, como jardins ou terrenos próximos à sua residência. Essa
        alternativa também permite o aproveitamento máximo da energia solar, com a flexibilidade de escolha do local
        mais adequado.
      </p>
    </article>

    <article class="card">
      <img src="/assets/img/painel-no-telhado.jpg" alt="Painel no Telhado">
      <h3 class="h3-cards">Telhado</h3>
      <p class="p-produtos">
        Perfeito para quem ama espaço extra, sem bagunçar o quintal! Painéis solares no telhado? Direto do sol pra sua
        casa, com energia de sobra e um visual que nem parece que está lá. Coisa de outro mundo, discreto e integrado,
        sabe?
      </p>
    </article>

    <article class="card">
      <img src="/assets/img/painel-ambos.jpg" alt="Painel em ambos">
      <h3 class="h3-cards">Ambos</h3>
      <p class="p-produtos">
        Para um desempenho ainda melhor, podemos combinar ambas as opções, instalando placas solares no telhado e fora
        de casa. Essa abordagem é ideal para propriedades com áreas amplas ou em locais onde é necessário maximizar a
        produção de energia.
      </p>
    </article>
  </section>

  <section id="colaboradores" class="grid grid-cards margin-top">
    <!-- Seção dos colaboradores -->
    <h1>Inovadores em Energia Solar – Os produtos que adoramos</h1>
    <article class="card">
      <img src="/assets/img/helia-solar.jpg" alt="Helia Solar">
      <h3 class="h3-card">Helia Solar - Transformando a luz do sol em energia para um futuro sustentável</h3>
      <p class="p-colaboradores">
        Com mais de 14 anos de experiência, a Helia Solar é uma das pioneiras no setor de energia solar no Nordeste. A
        empresa projeta, instala e opera usinas solares em diversas cidades do Brasil. Possui mais de 1.000 projetos
        concluídos e já instalou mais de 500 mil painéis solares​.
      </p>
    </article>
    <article class="card">
      <img src="/assets/img/nordeste-solar-energy.jpg" alt="Nordeste Solar Energy">
      <h3 class="h3-card">Nordeste Solar Energy - O futuro é solar</h3>
      <p class="p-colaboradores">
        A Nordeste Solar Energy torna a energia solar acessível, investindo em instalação e manutenção para um futuro
        sustentável.
      </p>
    </article>
    <article class="card">
      <img src="/assets/img/gh-energia-solar.jpg" alt="GH - Energia solar">
      <h3 class="h3-card">GH Energia Solar - Independência energética com inovação sustentável</h3>
      <p class="p-colaboradores">
        Uma das maiores empresas do setor de energia solar distribuída no Brasil, a GH Energia Solar possui operações no
        Nordeste e oferece soluções de assinatura solar para residências e empresas, permitindo que consumidores reduzam
        seus custos com energia sem a necessidade de instalar painéis em suas propriedades.
      </p>
    </article>
    <article class="card">
      <img src="/assets/img/solar-ne.jpg" alt="Solar NE">
      <h3 class="h3-card">Solar NE -Brilhando com energia limpa para um mundo mais sustentável</h3>
      <p class="p-colaboradores">
        Empresa especializada em energia solar para pequenas e médias empresas, além de soluções para residências. A
        Solar NE desenvolve projetos personalizados, garantindo economia e sustentabilidade para seus clientes.
      </p>
    </article>
  </section>

  <section id="pesquisas">
    <!-- Seção de pesquisas -->
    <form class=" flex align-center rg-2 card margin-top" action="#header" target="_blank">
      <h1 padding="10px">O que podemos melhorar?</h1>
      <h2 class="h2-pesquisas"><i>Nós envie sugestões</i></h2>
      <textarea rows="10" cols="15"></textarea>
      <p><i>Informe seu email</i></p>
      <input type="email" name="email" placeholder="seu email" size="20">
      <input class="enviar-formulario" type="submit" value="Enviar">
    </form>
  </section>

  <footer id="rodape" class="footer flex wrap rg-4 justify-between bg-secundary">
    <!-- Rodapé da página -->
    <img class="img-footer" src="/assets/img/logo-preto-branco.png" alt="Logo sem cor">
    <nav class=" flex cg-4 ">
      <a href="#objetivos">Sobre</a>
      <a href="#pesquisas">Imprensa</a>
      <a href="#contato">Atendimento ao cliente</a>
      <a href="#produtos">Serviços</a>
    </nav>
  </footer>
</body>

</html>