:root{
    --COLOR-PRIMARY: #0B9586;
    --COLOR-SECUNDARY: #283646;
    --COLOR-THIRD: #FFBB1C;
    --COLOR-GRAY: #f2f4f8;
    --COLOR-GREEN: #84BD3A;
    --COLOR-WHITE: white;

}

*{
    margin: 0;
    padding: 0;
}

a{
    color: unset;
    text-decoration: none;
    font-size: 20px;
    line-height: 6;
}

h1{
    font-size: 45px;
    font-weight: bold;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}
.h1-produtos{
    font-family: 'Times New Roman', Times, serif;
}

.h2-pesquisas{
    color: var(--COLOR-PRIMARY);
}

.card img{
    width: 100%;
    height: auto;
}

pre{
    font-size: 18px;
    font-weight: 400;
    color: #475467;
}

p{
    font-size: 18px;
    font-weight: 600;
}

.p-produtos{
    font-size: 16pt;
    color: #475467;
    align-items: left;
}

.p-colaboradores{
    font-size: 14pt;
    color: #475467;
    align-items: left;
}

.p-img{
    font-size: 20px;
    font-weight: bold;
}

.bg-primary{
    background-color: var(--COLOR-PRIMARY);
}

.bg-secundary{
    background-color: var(--COLOR-SECUNDARY);
}

.bg-third{
    background-color: var(--COLOR-THIRD);
}



.bg-gray{
    background-color: var(--COLOR-GRAY);
}


.bg-green{
    color: var(--COLOR-GREEN);
}

.bg-white{
    background-color: var(--COLOR-WHITE);

}


.flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.align-left{
    align-items: left;
}

.wrap{
    flex-wrap: wrap;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;

}

.grid-cards{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.cg-2{
    column-gap: 10px;
}

.cg-4{
    column-gap: 20px;
}

.rg-2{
    row-gap: 10px;
}

.rg-4{
    row-gap: 20px;
}

.card {
    box-shadow: -1px -2px 8px 1px rgba(0,0,0,0.34);
    border-radius: 7px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--COLOR-GRAY);
}

.btn{
    color: white;
    padding: 10px 25px;
    font-size: 10pt;
    font-weight: 800;
    border: unset;
}



.btn-header{
    background-color: #098e7e;
    height: 70px;
}


.btn-primary{
    background-color: var(--COLOR-PRIMARY);
    padding: 4px 12px;
    width: 350px;
    height: 40px;
}

.btn-secundary{
    color: black;
    background-color: var(--COLOR-THIRD);
    padding: 4px 12px;
    width: 350px;
    height: 40px;
    border-radius: 8px;
}


.enviar-formulario{
    background-color: var(--COLOR-THIRD);
    color: black;
}

.gap{
    gap: 0;
}

.img-banner{
    width: 100%;
}

img{
   object-fit: cover; 
}

.img-logo{
    height: 70px;
    margin: 5px 10px;
    position: relative;
    top: 20px; 
}

.gap-login{
    gap: 10px;
}

.img-banner{
    width: 100%;
}

.imagem-com-texto {
  position: relative;
  width: 100%;
  height: auto;
}

.texto-sobre-imagem h1 {
  position: absolute;
  top: 30%; /* centraliza verticalmente */
  left: 20%; /* centraliza horizontalmente */
  transform: translate(-50%, -50%); /* ajusta a posição para o centro exato */
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.texto-sobre-imagem pre {
position: absolute;
  top: 45%; /* centraliza verticalmente */
  left: 20%; /* centraliza horizontalmente */
  transform: translate(-50%, -50%); /* ajusta a posição para o centro exato */
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}



.texto-sobre-imagem .btn-primary {
  position: absolute;
  top: 55%; /* Ajuste conforme necessário */
  left: 21.6%; /* Ajuste conforme necessário */
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 12pt;
  font-weight: 800;
  border: unset;
  background-color: var(--COLOR-PRIMARY);
}

.texto-sobre-imagem .btn-secundary {
  position: absolute;
  top: 55%; /* Ajuste conforme necessário */
  left: 55%; /* Ajuste conforme necessário */
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 25px;
  font-size: 10pt;
  font-weight: 800;
  border: unset;
  background-color: var(--COLOR-THIRD);
}

.ver-integracao{
    color: var(--COLOR-PRIMARY);
    font-weight: 550;
}

input{
    border-radius: 8px;
    padding: 4px 12px;
    width: 300px;
    height: 30px;

}

.input-button{
     color: black;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 8pt;
    font-weight: 800;
    border: unset;
    height: 50px;
    width: 130px;
}

.ver-integracao{
    color: var(--COLOR-PRIMARY);
    font-weight: 550;
    font-size: 20px;
}

.margin-top{
    margin-top: 40px;
}